.parallax {
    /* The image used */
    background-image: url("parallax_image.jpg");
  
    /* Set a specific height */
    height: 300;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
   
    background-size: cover;

    /* Makes the parallax image a little bit transparent */
    opacity: 0.85;

    

  }

  .parallax2 {
    /* The image used */
    background-image: url("paral2.png");
  
    /* Set a specific height */
    height: 500px;
    width: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
   
    background-size: cover;

    /* Makes the parallax image a little bit transparent */
    opacity: 0.85;

    

  }

  .row
  {
      width: 100%;
  }
  

  .footer
  {
      background-color: #c5e4db;
  }

  .caner
  {
      vertical-align: middle;
  }

  .margin
  {
    margin-bottom:50px;
    margin-top:50px;

  }
  .margin-bottom
  {
    margin-bottom:10px;

  }


  .margin-right
  {
    margin-right:50px;
    margin-left:50px;

    
  }

  .card
  {
    text-align: center;
    margin-bottom: 10px;
    height: 50%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  .card-footer
  {
  opacity: .55;  
  }




  svg
  {

    fill: #000;
    width: 50px;
    height: 50px;
    

  }

  svg:hover
  {
      fill: #364a57;
  }




  #about_me
  {
    color: white;
    text-align: center;


  }

  
  #projects
  {
    text-align: center;


  }

  .vertical-center {
    
  
    display: flex;
    align-items: center;
  }

  img
  {
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .honours
  {
    width: 100%;
    max-width: 180;
    max-height: 320;
    height: auto;

  }

