.parallax {
    /* The image used */
    background-image: url("parallax_image.jpg");
  
    /* Set a specific height */
    height: 500px;
    width: 1080;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Makes the parallax image a little bit transparent */
    opacity: 0.85;

    

  }


  .footer
  {
      background-color: #c5e4db;
  }

  .margin
  {
    margin-bottom:50px;
    margin-top:50px;

  }
  .margin-bottom
  {
    margin-bottom:10px;

  }


  .margin-right
  {
    margin-right:50px;
    margin-left:50px;

    
  }

  .card
  {
    text-align: center;
    margin-bottom: 10px;


  }

  .card-header
  {
    height: 30%;

  }


  svg
  {

    fill: #000;
    width: 50px;
    height: 50px;
    

  }

  svg:hover
  {
      fill: #364a57;
  }




  #about_me
  {
    color: white;
    text-align: center;


  }

  
  #projects
  {
    text-align: center;


  }